{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<div class="custom-exposed-form-layout">
    <div class="custom-exposed-form-layout--fields">
        <div class="custom-field-item">
            {{ form.field_prijs_value }}
        </div>
        <div class="custom-field-item">
            {{ form.field_merk_target_id }}
        </div>
        <div class="custom-field-item">
            {{ form.field_jaar_value }}
        </div>
        <div class="custom-field-item">
            {{ form.field_km_value }}
        </div>
        <div class="custom-field-item">
            {{ form.field_regio_target_id }}
        </div>
        <div class="custom-field-item">
            {{ form.field_kleur_picker_color }}
        </div>
        <div class="custom-field-item">
            {{ form.field_brandstof }}
        </div>
        <div class="custom-field-item">
            {{ form.field_deuren_value }}
        </div>
    </div>
    <div class="form-group-button">
        {{ form.actions }}
    </div>
</div>
        