<div class="w3-row w3-center headerdiv">
    <header class="w3-col l3 m2 s12">
        {{ page.header }}
    </header>
    <nav class="w3-col l9 m10 s12">
        <div class="menusblokken">
              {{ page.primary_menu }}
        </div>
    </nav>
</div>

        <div>
            {{ page.highlighted }}
        </div>
            
        <div>
            <div>
                {{ page.content }}
            </div>
        </div>
            
        <footer class="footerhead">
            <div class="w3-row">
                {{ page.secondary_menu }}
            </div>
            <div class="w3-row">
                {{ page.footer }}  
            </div>
        </footer>
  
  
